{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage Vitrina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'banners/css/homepage.css' %}">
</head>
<body>

    <div id="banner-container"></div>
    <div id="scroll-anchor"></div>

     <script>
        window.bannerItems = {{ banner_items|safe }};
     </script>
    <script src="{% static 'banners/js/homepage.js' %}"></script>
</body>
</html>